extends ../includes/layout.jade

block body
  +layout
    // Header
    +fullWidthRow
      p.center &nbsp;

    // Body
    +body
      +container()(class='main-content')
        +row()
          +columns('twelve', 'last')
            td.text-pad
              h3 Votre inscription au congrès
        +row()
          +columns('twelve', 'last')
            td.center.text-pad
              p Bonjour,
        +row()
          +columns('twelve', 'last')
            td.center.text-pad
              p Nous vous remercions pour votre participation au prochain Congrès AVEF/SNVEL 2015.
        +row()
          +columns('twelve', 'last')
            td.center.text-pad
              p Veuillez trouver ci-après la facture correspondant à votre inscription ainsi que les Conditions Générale de Vente liées à cet événement.
        +row()
          +columns('twelve', 'last')
            td.center.text-pad
              pre.invoice.
                Blabla
                blabla
                blibli blibli
        +row()
          +columns('twelve', 'last')
            td.center.text-pad
              p Au plaisir de vous retrouver du 3 au 5 novembre 2015 aux Docks de Paris.
        +row()
          +columns('twelve', 'last')
            td.center.text-pad
              p — Le comité d'organisation AVEF/SNVEL
              p &nbsp;

  // Footer
  +fullWidthRow
    p.center
      | Suivez&nbsp;
      a(href='http://o9z6.mjt.lu/link/o9z6/xw9tq7454o2r/2/f4d0A16B0qP8eXeO8h2X1g/aHR0cDovL3R3aXR0ZXIuY29tL0FWRUZf') @AVEF_
      | &nbsp;sur Twitter.
    p.center
      | Suivez&nbsp; 
      a(href='http://o9z6.mjt.lu/link/o9z6/xw9tq7454o2r/3/ZKdmZ2Kmx29bKk9NPf1AKg/aHR0cHM6Ly93d3cuZmFjZWJvb2suY29tL0NvbmdyZXMtQXZlZnNudmVsLTIwMTUtMTQ3NDQ2Njg2Mjg2NjIwNC8') Congrès AVEF - SNVEL
      | &nbsp;sur Facebook.

  +fullWidthRow('cgv')
    h1 Conditions générales de ventes
    h2#pr-ambule Préambule
    p
      | L'AVEF, est une association de type loi 1901, à but non lucratif, fondée en 1965. Elle est immatriculée au répertoire SIREN sous le numéro et son siège social est situé 34, rue Bréguet à Paris (75 011).   Les relations courtoises entre confrères ayant une activité en médecine et chirurgie équine, l’enrichissement scientifique et technique par l’échange » sont restés les principes fondamentaux de l’association. Depuis, l’AVEF a développé son activité, notamment dans la formation continue, mais aussi dans différentes actions de valorisation, de défense et de représentation de la profession. Le SNVEL est un syndicat professionnel fondé en 1993, immatriculé sous le numéro SIREN
    h2#conditions-g-n-rales-de-vente-des-inscriptions-pour-le-congr-s-avef-snvel-2015-ci-apr-s-l-v-nement-
      | Conditions générales de vente des inscriptions pour le "Congrès AVEF/SNVEL 2015" » (ci-après l'Événement).
    p
      | L'évènement est organisé conjointement par l'AVEF et le SNVEL (ci-après « Les organisateurs »). La vente des inscription s’effectuera en ligne sur le site 
      a(href='https://congres-avef-snvel.fr') https://congres-avef-snvel.fr
      |  (ci-après « le site »). La commande en ligne à l’Événement confère au visiteur la qualité de « Client » et emporte de plein droit son adhésion et son acceptation des présentes conditions générales de vente. La commande du Client est soumise aux présentes conditions générales qui prévalent sur tout document émanant du Client. L’Organisateur pourra modifier unilatéralement les présentes conditions générales. Toute modification de ces dispositions sera opposable au Client dès sa communication, et cela par quelque moyen que ce soit.
    h2#article-1-objet-du-contrat Article 1 : Objet du Contrat
    p
      | Les présentes Conditions générales de vente ont pour objet de définir les modalités de vente des accès à l’Événement. Le programme, la date, le lieu, la durée de l’Événement ainsi que le prix des accès sont également indiqués sur le Site. Le Client reconnaît en avoir pris connaissance et les avoir acceptés sans réserve. Le programme de l’Événement est conçu par l’Organisateur avec le plus grand soin et la plus grande exactitude possible. Si, malgré tous les efforts de l’Organisateur, les circonstances l’y obligent, l’Organisateur se réserve le droit d’en modifier le programme, le lieu, la date ainsi que la durée, sans que le Client ne puisse prétendre à une quelconque indemnisation.
    h2#article-2-description-de-l-offre Article 2 : Description de l’offre
    p
      | Sauf mention contraire, et sous réserve du respect des présentes, sont inclus dans l’offre et par options : l’accès à l’exposition commerciale, la participation aux conférences, aux ateliers et évènements. Les diverses activités sont énoncées dans la programmation de 
      a(href='https://congres-avef-snvel.fr') https://congres-avef-snvel.fr
      | .
    h2#article-3-modalit-s-de-commande Article 3 : Modalités de commande
    p
      | Le Client passe commande en remplissant le formulaire d’inscription du Site. Le Client s’engage à donner des informations exactes et exhaustives. En cliquant sur le bouton « Je m’inscris » pendant le processus de commande, et après avoir vérifié le contenu de sa commande et, le cas échéant, de l’avoir modifiée, le Client déclare accepter pleinement et sans réserve l’intégralité des présentes Conditions générales. Le Client confirme alors le contenu de sa commande et donne ainsi son consentement ferme et définitif. L’Organisateur lui fait ensuite parvenir un récapitulatif de sa commande à l’adresse e-mail communiquée lors de l’inscription à l’Événement. Après réception du paiement, l’acceptation de la commande par l’Organisateur sera confirmée par envoi d’un courrier électronique, une facture sera alors délivrée au Client.
    p
      | Lorsque le Client opte pour un paiement par chèque, l’inscription ne sera valide qu’après réception du chèque et finalisation de la transaction. Un courriel de confirmation d’inscription sera alors envoyé à l’adresse email communiquée lors de son inscription.
    p
      | Aucune annulation ultérieure du Client hors délai légal permettant l’exercice du droit à rétractation, ne donnera droit à un remboursement et/ou une quelconque indemnisation de la part de l’Organisateur.
    h2#article-4-d-lai-de-r-tractation Article 4 : Délai de rétractation
    p
      | Conformément aux articles L. 121-20 et suivants du Code de la consommation le Client bénéficie d’un droit de rétractation. Le Client s’il est une personne physique non professionnelle, peut exercer son droit de rétractation, sans motif, dans un délai de quatorze (14) jours à compter du paiement de la commande. Pour revenir sur son consentement et annuler la commande, le Client doit en informer l'AVEF par courriel. Le droit de rétractation, s’il a été valablement exercé, permet au Client d’obtenir le remboursement de sa commande.
    h2#article-5-conditions-financi-res Article 5 : Conditions financières
    p
      | Le prix des accès est indiqué sur le Site dans la rubrique « inscriptions ». Les montants indiqués s’entendent hors taxes. Le prix devra être réglé dans son intégralité, à défaut la commande sera annulée.
    p Le Client peut régler le prix par les moyens suivants :
    p
      | Le paiement des tickets par le Client sur le site 
      a(href='https://congres-avef-snvel.fr') https://congres-avef-snvel.fr
      |  s’effectue exclusivement par cartes bancaires des réseaux CARTE BLEUE/VISA, MASTERCARD, AMERICAN EXPRESS, DISCOVER et MAESTRO ou par chèque.
    p
      | Le compte bancaire du Client sera débité du montant de la commande, dès la validation finale de la transaction.
    p
      | Un justificatif de paiement lorsque le Client choisi d’effectuer un paiement par carte bancaire sera automatiquement envoyé par courriel au Client, à l’issue de la transaction, sur l’adresse email communiquée.
    h2#article-6-s-curisation-des-paiements Article 6 : Sécurisation des paiements
    p
      | Les paiements électroniques effectués dans le cadre des transactions réalisées sur le site 
      a(href='https://congres-avef-snvel.fr') https://congres-avef-snvel.fr
      |  sont sécurisés, par utilisation du procédé de cryptage « SSL ». L'AVEF utilise pour les dits paiements électroniques, la solution « Braintree » fournie par «Braintree ».
    h2#article-7-conditions-d-acc-s Article 7 : Conditions d’accès
    p
      | Le jour de l’Événement, le Client dont la commande aura été acceptée se présentera à l’accueil et se verra remettre son badge d’accès après présentation d'un justificatif d'inscription, au personnel en charge de l’accueil des participants.
    h2#article-8-propri-t-intellectuelle Article 8 : Propriété Intellectuelle
    p
      | Les marques figurant sur le Site sont des marques déposées. Toute reproduction totale ou partielle de ces marques sans l’autorisation expresse de l’Organisateur est strictement prohibée.
    p
      | Les images, textes, programmes et autres composants du site sont protégés par des droits de propriété intellectuelle. Toute représentation totale ou partielle du site et de son contenu, par quelques procédés que ce soient, sans autorisation préalable et expresse de l'organisateur, est interdite et constitutive d’une contrefaçon au sens des articles L335-2 et suivants du Code de la propriété intellectuelle.
    h2#article-9-litiges Article 9 : Litiges
    p
      | Tout différend entre le Client et l’Organisateur relatif à l’exécution de l’objet des présentes conditions générales de vente qui ne pourraient être résolus à l’amiable seront tranchés par les Tribunaux compétents.
    h2#article-10-donn-es-personnelles Article 10 : Données personnelles
    h3#10-1-collecte-des-donn-es-personnelles 10. 1 Collecte des données personnelles
    p
      | Lors de la passation de la commande, l'organisateur est amené à collecter auprès du Client certaines informations et données à caractère personnel telles que notamment nom et prénom, adresse e-mail, numéro de téléphone mobile sans que cette liste ne soit limitative.
    p
      | En application du dispositif n° 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, le traitement des informations nominatives relatives aux utilisateurs des services fournis par l’association a fait l’objet d’une déclaration auprès de la 
      a(href='http://www.cnil.fr/') CNIL
      |  (n° de déclaration : en cours).
    h3#10-2-finalit-s-du-traitement 10.2 Finalités du traitement
    p
      | Les informations et données concernant le Client sont nécessaires à la gestion de la commande et de la relation commerciale. Les informations et données sont également conservées à des fins de sécurité et afin de respecter les obligations légales et règlementaires de conservation des données.
    p
      | Ces données seront utilisées dans le cadre du traitement et du suivi de la commande du Client, ainsi que dans l’hypothèse d’un éventuel report ou annulation de l’événement correspondant.
    p
      | Le client accepte que l'organisateur, concernant toute décision affectant les conditions de déroulement dudit Événement (telle qu’annulation, report, modification du lieu d’organisation), utilise les coordonnées qu’il aura fournies à l'organisateur dans le cadre de sa commande, à l’effet de l’informer desdites modifications, ainsi que de la marche à suivre.
    h3#10-3-destinataires-des-donn-es 10.3 Destinataires des données
    p
      | Les informations collectées sont destinées à l’usage unique de l'organisateur, qui en assure la plus stricte confidentialité.
    h3#10-4-consentement-du-client 10.4 Consentement du client
    p
      | Le client lorsqu’il le souhaite, pourra autoriser l'organisateur à lui communiquer par courrier électronique des lettres d’informations, notamment des informations relatives aux futurs événements organisés par elle.
    p
      | S’il souhaite ultérieurement ne plus recevoir d’informations d’e l'organisateur, le client pourra se désabonner à l’aide du lien hypertexte “Se désinscrire” situé en bas de page des courriels d’information.
    h3#10-5-droits-d-opposition-d-acc-s-de-rectification 10.5 Droits d’opposition, d’accès, de rectification
    p
      | Comme le prévoient les dispositions de la loi « informatique et libertés » du 6 janvier 1978, le client bénéficie d’un droit d’accès et de rectification aux informations qui le concerne. Il peut également, pour des motifs légitimes, s’opposer au traitement des données le concernant.
    p
      | Pour exercer ces droits, le client pourra adresser sa requête à : congres-avef-snvel@avef.fr ou à : AVEF - 34, rue Breguet - 75011 Paris.
    p
      | Conformément à la réglementation en vigueur, le courrier doit être signé et accompagné de la photocopie d’un titre d’identité portant la signature du client et préciser l’adresse à laquelle doit parvenir la réponse.
    h3#article-11-divers Article 11 : Divers
    p
      | En application des articles 1316 et suivants du Code civil et, le cas échéant, de l’article L.110-3 du Code de commerce, les informations délivrées par le Site font foi entre les Parties. Les éléments tels que le moment de la réception ou de l’émission, ainsi que la qualité des données reçues feront foi par priorité telle que figurant sur les systèmes d’information de l’Organisateur, ou telles qu’authentifiées par les procédures informatisées de l’Organisateur, sauf à en apporter la preuve écrite et contraire par le Client. La portée de la preuve des informations délivrées par les systèmes informatiques de l’Organisateur est celle qui est accordée à un original au sens d’un document écrit papier, signé de manière manuscrite.
