extends ../includes/layout.jade

block body
  +container()(class="main-content")
    +row()
      +columns('twelve', 'last')
        td
          h2 Veuillez confirmer votre email
    +row()
      +columns('twelve', 'last')
        td.center
          p Nous vous remercions de bien vouloir confirmer votre adresse email en cliquant sur le bouton ci-dessous.
    +row()
      +columns('twelve', 'last')
        td.center
          p En effet, nous avons besoin de vous envoyer des informations importantes pour le bon fonctionnement de notre service. Ce dernier ne peut fonctionner sans une adresse email valide.
    +row()(class="button-wrapper")
      +columns ('seven', 'last')
        td.center
          +button("Je confirme mon email")(style="large-button radius")
    +row()
      +columns ('seven', 'last')
        td.center
          +button("Je confirme mon email")(style="large-button radius")
