// Colors
// Real colors
// orange = #FF7100
// green = #007E5F
// lightGrey = #f0f0f0
// grey = #bcbcbc
// darkGrey = #6b6b6b
// textColor = darkGrey
// brandPrimary = orange
// brandSecondary = green
// borderBrandPrimary = darken(brandPrimary, 10%)
// hoveredBrandPrimary = borderBrandPrimary
// invertedBrandPrimary = lighten(orange, 70%)
// hoveredInvertedBrandPrimary = lighten(invertedBrandPrimary, 40%)
// headerColor = brandSecondary
// bgColor = hoveredInvertedBrandPrimary
// hrColor = lighten(orange, 50%)
// hrBgColor = lighten(orange, 30%)
// Template colors
lightGrey = #00001
grey = #00002
darkGrey = #00003
textColor = #00004
brandPrimary = #00005
brandSecondary = #00006
borderBrandPrimary = #00007
hoveredBrandPrimary = #00008
invertedBrandPrimary = #00009
hoveredInvertedBrandPrimary = #00010
headerColor = #00011
bgColor = #00012
hrColor = #00013
hrBgColor = #00014

// Fonts
// Real font stack
// headerFont = Impact, sans-serif
// bodyFont = 'Helvetica Neue', Helvetica, Arial, sans-serif
// preFont = 'Droid Sans Mono', monospace
// Template font stack
headerFont = serif
bodyFont = sans-serif
preFont = monospace

// Import Ink (based on 1.0.5, modified for Stylus)
@import '_ink'

// Whole email
body, .body, html
  background hoveredInvertedBrandPrimary !important

.main-content
  background #ffffff !important
  padding 20px !important
  margin 20px !important
  border 1px solid brandPrimary !important
  border-radius 5px !important

// Invoice
.invoice
  border 1px grey solid !important
  background lightGrey !important
  pre
    color darkGrey !important

.cgv
  background darkGrey !important
  h1, h2, h3, h4, h5, h6
    color grey !important
    text-align left !important
    font-size 14px !important
  p, a
    color grey !important
    font-size 12px !important
    text-align justify !important

// Old junkyard
// body-font-size = 18px
// base-line-height = 1.3
// spacer = body-font-size
// Responsive switches (overridden in ie.styl)
//fix-mqs ?= false
//old-ie ?= false
// // Breakpoints
// desktop = 1300px
// tablet = 800px
// largePhone = 600px
//@import '_utils'
//@import 'jeet'
